*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(101, 174, 186);
    display:flex;
    justify-content:center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("exe.jpg");
    background-size: cover;
    background-position: justify;


}
.wrapper{
width: 430px;
background: transparent;
color:rgb(0, 0, 0);
margin-top: 128px;
align-items: center;
border:none;
border-radius: 5px;
}
.wrapper h1{
    font-size: 32px;
    text-align: center;
   

}
.input-box{
   
    width: 80%;
    height: 50px;
    margin-top: 20px ;
    margin-left: 69px;
}
.input-box input{
        width: 80%;
        height: 80%;
        background: transparent;
        border: none;
        outline: none;
        border: 1px dotted rgb(255, 255, 255);
        border-radius: 4px;
        padding-left: 5px;
        font-weight: 100;
    }
    .input-box input::placeholder{
        color: #000000;

    }
    .input-box i{
        position:relative;
        right: 25px;
        top: 28%;
        transform: translateY(-50%);
        font-size: 16px;
        padding-top:5px;
        
    }
    .remember-forget{
        display:flex;
        justify-content:space-evenly;
        font-size: 14.5px;
        margin-top: 2px;
        margin:  5px;
    }
    .remember-forget label input{
        accent-color: white;
        margin-right: 3px;
    }
    .remember-forget a{
        color: #fff;
        text-decoration:none;
    }
    .remember-forget a:hover{
        text-decoration: underline;
    }
.wrapper .btn{
    width: 65%;
    height: 40px;
    background-color:#fff;
    margin-left: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgbs(0,0,0,.1);
    cursor: pointer;
    font-size:16px;
    color: #333;
    font-weight: 600;


}
.register-link{
    font-size: 14.5px;
    margin: 20px 0 15px;
   text-align:center;
}
.register-link p a{
    color: #ffffff;
    text-decoration: none;
    font-weight:600;

}

.register-link p a:hover{
    text-decoration: underline;
}
h6{
    text-align:center;
}